<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LOGIN PAGE</title>
  </head>
  <body>
    <center>
      <h2>LOGIN TO SISTEM</h2><br>
      <form class="" action="/login_user" method="post">
        <p>
          Username:
        </p>
        <input type="text" name="username" ><br>
        <p>
          Password:
        </p>
        <input type="password" name="password" ><br><br><br>
        <button type="submit" name="button">LOGIN</button>
      </center>
    </form>
  </body>
</html>
