<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include layout/menu%>
  <center>
    <h2>ADD NEW STUDENT</h2><br><br>
    <form action="/students/add" method="POST">
      <p>
        First Name:
      </p>
      <input type="text" name="first_name" value="">
      <br>
      <p>
        Last Name:
      </p>
      <input type="text" name="last_name" value="">
      <br>
      <p>
        Email Name:
      </p>
      <input type="email" name="email" value="">
      <br>
      <br>
      <p>
        Degree:
      </p>
      <input type="text" name="jurusan" value="">
      <br>
      <br>
      <br>
      <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
